# Copyright (C) 2023 Paranoid Android
#
# SPDX-License-Identifier: Apache-2.0

# Connection Security
service ssgqmigd /vendor/bin/ssgqmigd64
    override
    class late_start
    user radio
    group radio gps system
    socket ssgqmig seqpacket 0660 radio inet

# Display
service vendor.qti.hardware.display.composer /vendor/bin/hw/vendor.qti.hardware.display.composer-service
    override
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    socket pps stream 0660 system system
    task_profiles ProcessCapacityHigh HighPerformance

# Sensors
service citsensor-hal-2-0 /odm/bin/hw/vendor.xiaomi.sensor.citsensorservice@2.0-service
    class late_start
    user system
    group system input
    override
    task_profiles ServiceCapacityLow

# Touchscreen
on boot
    chown system system /sys/class/touch/touch_dev/fod_finger_state
    chown system system /sys/class/touch/touch_dev/fod_longpress_gesture_enabled
    chown system system /sys/class/touch/touch_dev/gesture_double_tap_enabled
    chown system system /sys/class/touch/touch_dev/gesture_single_tap_enabled
    chown system system /sys/class/touch/touch_dev/panel_orientation
    chmod 0660 /sys/class/touch/touch_dev/fod_finger_state
    chmod 0660 /sys/class/touch/touch_dev/fod_longpress_gesture_enabled
    chmod 0664 /sys/class/touch/touch_dev/gesture_double_tap_enabled
    chmod 0664 /sys/class/touch/touch_dev/gesture_single_tap_enabled
    chmod 0664 /sys/class/touch/touch_dev/panel_orientation
